@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

a {
    text-decoration: none !important;
    color: inherit;
}

a:hover {
    color: #6c757d;
}

img {
    width: 100%;
    max-width: 100%;
}

section {
    padding: 50px 0;
}

footer {
    color: #fff;
    background-color: #151515;
}

.cart-item-container {
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.cart-item-container img {
    max-width: 350px;
}

.remove-cart-item {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(220, 53, 69, .5);
}
.mt-8{
    margin-top: 10em;
}
